body {
  background: url(../assets/ivana-cajina-asuyh-_ZX54-unsplash.jpg) no-repeat center center fixed;
  background-size: cover;
}

.item {
  display: flex;
}

.item img {
  width: 150px;
}

.content {
  margin: auto 20px;
}

.container {
  padding: 3vh 15vw;
}
