body {
  background: url(../assets/ivana-cajina-asuyh-_ZX54-unsplash.jpg) no-repeat center center fixed;
  background-size: cover;
}

.container {
  padding: 3vh 15vw;
}

.item {
  display: flex;
}

.item img {
  width: 150px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.description {
  margin: 0 20px;
}
