.info {
  display: flex;
  padding: 10%;
  flex-direction: column;
}

.info div {
  margin: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 2rem;
}

.char-name {
  font-weight: 700;
  font-size: x-large;
}
